/* Header */

.header {
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 30px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header-top */

.header-top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.header-top-left {
    height: 50px;
}

.header-top-left img {
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.header-top-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.header-top-right-icons ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-top-right-icons ul li a {
    display: flex;
}

.header-top-right-icons ul li a i {
    color: #3F4468;
    font-size: 24px;
}

.header-top-right-lang {
    margin-left: 92px;
}

.header-top-right-lang a {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0F1542;
}

.header-top-right-lang a i {
    font-size: 9px;
    color: #E50019;
    position: relative;
    top: -1px;
    margin-left: 4px;
}

.header-top-right-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 59px;
}


/* Header-bottom */


.header-bottom {
    display: flex;
}

.header-bottom-menus ul {
    display: flex;
    gap: 40px;
}

.header-bottom-menus ul li a {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0F1542;
}

.header-bottom-menus ul li a i {
    font-size: 9px;
    color: #E50019;
    position: relative;
    top: -1px;
    margin-left: 8px;
}


.header-bottom-feedback {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-bottom-feedback-number {
    display: flex;
    align-items: center;
}

.header-bottom-feedback-number a {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #0F1542;
}

.header-bottom-feedback-number a strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.header-bottom-feedback-number a i {
    color: #E50019;
    margin-right: 15px;
    position: relative;
    top: 1px;
}

.header-bottom-feedback-application {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.header-bottom-feedback-application a {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #E50019;
    margin-top: -2px;
}

.header-bottom-feedback-application a svg {
    position: relative;
    top: 4px;
    margin-right: 12px;
}


/* Section-banner */

.banner {
    background-image: url('../images/banner-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: calc(100vh - 158.4px);
    display: flex;
    align-items: center;

    padding-bottom: 32px;
}

.banner-wrapper {
    background-image: url(../images/banner-image.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 8px;
    height: 420px;
    position: relative;
}


.banner-wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 420px;
    z-index: 2;
    background: linear-gradient(90deg, #1B267C 34.59%, rgba(27, 38, 124, 0) 100%);
    border-radius: 8px;
}

.banner-inner {
    padding: 92px 665px 92px 120px;
    z-index: 3;
    position: absolute;
}

.banner-inner h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 61px;
    color: #FFFFFF;
    margin-bottom: 16px;
    z-index: 3;
}

.banner-inner p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 80%;
    z-index: 3;
    margin-bottom: 40px;
}

.banner-inner-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: linear-gradient(0deg, rgba(15, 21, 66, 0.1), rgba(15, 21, 66, 0.1)),
        linear-gradient(0deg, #2638BC, #2638BC);
    cursor: pointer;
    padding: 14px 32px;
    border-radius: 4px;
    border: 1.5px solid #0F15421A;
    z-index: 3;
}

.banner-inner-btn i {
    color: #FFFFFF;
    margin-left: 8px;
    font-size: 13px;
    z-index: 3;
}

.banner-inner-icons {
    position: absolute;
    padding: 17px 22px;
    background-color: #FFFFFF;
    border-radius: 60px;
    border: none;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
}

#banner-inner-icons-1 {
    margin-right: 70px;
}

.banner-inner-icons:last-child {
    margin-left: 16px;
}

.banner-inner-icons i {
    color: #0F1542;
    font-size: 16px;
    position: relative;
    top: 1px;
}


/* Banner-networks */

.banner-networks {
    display: flex;
    position: absolute;
    right: -120px;
    top: 49%;
    gap: 24px;
    transform: rotate(-90deg);
}

.banner-networks h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}

.banner-networks ul {
    display: flex;
    gap: 10px;
}

.banner-networks ul li a svg {
    transform: rotate(90deg);
}


/* section-news */

.news {
    padding-bottom: 100px;
}

.news-title {
    display: flex;
    margin-bottom: 16px;
}

.news-title h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #0F1542;
}

.news-title a {
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}

.news-title a i {
    margin-left: 8px;
    font-size: 12px;
    color: #E50019;
}

.news-wrapper {
    display: flex;
}

.news-left {
    width: 64%;
}

.news-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 36%;
    margin-left: 32px;
}

.news-item {
    display: flex;
}

.news-item-img {
    max-width: 415px;
    height: 280px;
}

.news-item-img img {
    height: 100%;
}

.news-item-content {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.news-item-content h6 {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #0F1542;
    margin-bottom: 16px;
}

.news-item-content p {
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #444650;
    margin-bottom: auto;
}

.news-item-content ul {
    display: flex;
    gap: 40px;
}


.news-item-content ul li span {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #959AB2;
}

.news-item-content ul li span i {
    position: relative;
    top: 2px;
    margin-right: 4px;
    color: #C0C3D1;
}

.news-item-content ul li span i:last-child {
    font-size: 12px;
}

.news-item-content ul li span svg {
    position: relative;
    top: 3px;
    color: #959AB2;
}

.news-elem {
    display: flex;
}

.news-elem-img {
    max-width: 152px;
    height: 120px;
}

.news-elem-img img {
    height: 100%;
}

.news-elem-inner {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.news-elem-inner h6 {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #444650;
    margin-bottom: auto;
}

.news-elem-inner ul {
    display: flex;
    gap: 40px;
}


.news-elem-inner ul li span {
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    color: #959AB2;
}

.news-elem-inner ul li span i {
    position: relative;
    top: 2px;
    margin-right: 4px;
    color: #C0C3D1;
}

.news-elem-inner ul li span i:last-child {
    font-size: 12px;
}

.news-elem-inner ul li span svg {
    position: relative;
    top: 3px;
    color: #959AB2;
}


/* Section-products */

.products {
    padding: 60px 0;
    background-color: #F6F7FF;
}

.products-wrapper {
    display: flex;
    align-items: center;
}

.products-title {
    margin-right: 32px;
}

.products-title h5 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #0F1542;
    margin-bottom: 12px;
}

.products-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #3F4468;
    margin-bottom: 32px;
}

.products-title-btn {
    display: flex;
    gap: 16px;
}

.products-title-btn button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.products-title-btn button i {
    color: #0F1542;
}


.products-item {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 100%;
    padding: 32px;
}

.products-item-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 24px;
    background-color: #E9EBFC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-item-icon i {
    color: #E50019;
    font-size: 40px;
}

.products-item-inner {
    display: flex;
    flex-direction: column;
}

.products-item-inner h6 {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #0F1542;
    margin-bottom: 12px;
}

.products-item-inner p {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #3F4468;
}


/* section-performance */

.performance {
    background-color: #1B267C;
    padding: 80px 0;
}

.performance-wrapper {
    display: flex;
    flex-direction: column;
}

.performance-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.performance-title h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.col-center .performance-card {
    flex-direction: row;
}

.performance-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    background-color: rgb(255, 255, 255, .1);
    height: 100%;
    border-radius: 8px;
}

.performance-big{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.performance-top{
    margin-bottom: 32px;
    height: 166px;
}

.performance-bottom{
    height: 166px;
}

.performance-card-icon{
    background-color: #FFFFFF1A;
    width: 90px;
    height: 90px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends{
    margin-bottom: 32px;
}

.performance-card-icon i{
    color: #FFFFFF;
    font-size: 40px;
}

.performance-card-text{
    display: flex;
    flex-direction: column;
}

.performance-card-text strong{
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.performance-card-text small{
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    opacity: 0,8;
    color: #FFFFFF;
}

.performance-card-small-text strong{
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
}



/* section-map */

.map{
    padding: 80px 0;
}

.map-title{
    margin-bottom: 40px;
}

.map-title h4{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #0F1542;
}

.map-wrapper{
    display: flex;
    align-items: center;
}

.map-inner{
    margin-left: 32px;
    padding: 24px;
    background-color: #F6F7FF;
    border-radius: 8px;
    width: 100%;
}

.map-inner-title{
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #CACFF8;
}

.map-inner-title h5{
    font-weight: 700;
    font-size: 28px;
    line-height: 39px;
    color: #0F1542;
}

.map-inner-profile{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.map-inner-profile-img{
    border-radius: 2px;
    height: 80px;
    max-width: 80px;
}

.map-inner-profile-img img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.map-inner-profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.map-inner-profile-text h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #0F1542;
}

.map-inner-profile-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #3F4468;
}

.map-inner-suptitle{
    margin-bottom: 10px;
}

.map-inner-suptitle h6{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #0F1542;
}

.map-inner-numbers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.map-inner-numbers a{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #3F4468;
    background-color: #F0F0F8;
    border-radius: 4px;
    padding: 14px 24px 14px 24px;
}

.map-inner-numbers a:last-child{
    margin-left: 20px;
}

.map-inner-numbers a i{
    color: #364DF8;
    margin-right: 6px;
    position: relative;
    top: 3px;
}

.map-inner-number{
    display: flex;
    margin-bottom: 24px;
}

.map-inner-number a{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #3F4468;
    background-color: #F0F0F8;
    border-radius: 4px;
    padding: 14px 24px 14px 24px;
}

.map-inner-number a i{
    color: #364DF8;
    margin-right: 6px;
    position: relative;
    top: 3px;
}

.map-inner-address{
    background-color: #F0F0F8;
    border-radius: 4px;
    padding: 14px 24px;
}

.map-inner-address a{
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #3F4468;
}

.map-inner-address a i{
    color: #364DF8;
    margin-right: 9px;
    position: relative;
    top: 2px;
}



/* section-galerey */


.galerey-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.galerey-title h4{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #0F1542;
}

.galerey-title a{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
    margin-left: auto;
}

.galerey-title a i{
    color: #E50019;
    margin-left: 8px;
    font-size: 10px;
}

.galerey-image{
    height: 550px;
    border-radius: 8px;
    max-width: 864px;
    z-index: 1;
    position: relative;
}

.galerey-image::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0000004D;
    border-radius: 8px;
    z-index: 2;
}

.galerey-image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.galerey-image-top{
    height: 259px;
    max-width: 416px;
    border-radius: 8px;
    margin-bottom: 32px;
}

.galerey-image-bottom{
    height: 259px;
    max-width: 416px;
    border-radius: 8px;
}

.galerey-image i{
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 50%;
    right: 0;
    color: #FFFFFF;
    z-index: 3;
    font-size: 45px;
}

.galerey-image-top i, .galerey-image-bottom i{
    font-size: 35px;
}



/* section-partners */

.partners{
    padding-top: 80px;
    padding-bottom: 60px;
}

.partners-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.partners-title h4{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #0F1542;
}

.partners-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 20px 0px #1B267C1A;
    border-radius: 8px;
    height: 200px;
}

.partners-item-img{
    display: flex;
    flex-direction: column;
    max-width: 217px;
    margin-bottom: 9px;
}

.partners-item-img img{
    height: 100%;
}

.partners-item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #0F1542;
}

.partners-buttons{
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 16px;
}

.partners-buttons button{
    width: 56px;
    height: 56px;
    border-radius: 60px;
    border: none;
    background-color: #F0F0F8;
    cursor: pointer;
}




/* footer */

.footer{
    padding-top: 50px;
    background-color: #F6F7FF;
}

.footer-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-title-img{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.footer-title-img img{
    height: 100%;
}

.footer-title span{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}

.footer-menus{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.footer-menus ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-menus ul li a{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}


.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-links-icons{
    margin-bottom: 16px;
}

.footer-links-icons ul{
    display: flex;
    gap: 16px;
}

.footer-links-icons ul li a svg{
    position: relative;
    top: 2px;
}

.footer-links-call{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-links-call svg{
    position: relative;
    top: 2px;
    margin-right: 12px;
}

.footer-links-call-text{
    display: flex;
    flex-direction: column;
}

.footer-links-call-text strong{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}

.footer-links-call-text span{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}


.footer-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-info-email{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 16px;
}

.footer-info-email svg{
    position: relative;
    top: 2px;
}

.footer-info-email-text{
    margin-left: 12px;
}

.footer-info-email-text a{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}

.footer-info-address{
    display: flex;
    align-items: center;
}

.footer-info-address i{
    color: #E50019;
    font-size: 23px;
}

.footer-info-address-text{
    margin-left: 12px;
}

.footer-info-address-text a{
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}


.footer-end{
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 16px 0;
    border-top: 1px solid #CACFF8;
}

.footer-end span{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}

.footer-end a{
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F1542;
}

.footer-end a strong{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6C72A0;
}